*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,body{
    height: 100%;
    width: 100%;


}
html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(210, 208, 208);
    font-size: clamp(14px, 1.5vw, 18px);
}
body{
    background-color: rgba(0, 0, 0, 0.867);
}
section{
    max-width: 1600px;
}
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    section.view1{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        gap: 1.5rem;


        .top{
            width: 100%;
            
            img{
                width: 100%;
                border-radius: 0.8rem;
               
            
            }
        }
        .bottom{
            background-color: rgba(0, 0, 0, 0.316);
            display: flex;
            border-radius: 0.8rem;
            gap: 2rem;
            padding: 1rem;
            flex-direction: column;

            .text{
                display: flex;
                flex-direction: column;
                gap: 0.7rem;
                
                h1{
                    font-weight: 400;
                    font-size: 3vw;
                    text-transform: uppercase;

                }
                p{
                    line-height: 1.5;
                    
                }
                button{
                    width: fit-content;
                    border: none;
                    outline: none;
                    padding: 0.7rem 1rem;
                    border-radius: 0.7rem;
                    cursor: pointer;
                }
            }
        }  

    }
    section.view2{
        flex-direction: column;
        width: 100%;
        padding: 1rem;
        display: flex;
        
         
        .top, .bottom{
            display: flex;
            justify-content: space-around;
            width: 100%;


            .element {
                small{
                    font-size: 1rem;
                }
                h2{
                    font-size: 3rem;
                    font-weight: 300;
                  
                }
            }
        }



    }
    section.view3{
        width: 100%;
        display: flex;
        gap: 1.5rem;
        padding: 1rem;
        flex-direction: column;
        



        .top{
            width: 100%;
            img{
                width: 100%;
                border-radius: 0.7rem;

            }
        }
        .bottom{
            background-color: #292929;
            border-radius: 0.7rem;
            padding: 1rem;

            h1{
                font-size: 2.3rem;
                padding: 2rem 0.5rem;
                font-weight: 400;
            }

            h2{
                padding: 2rem 0.5rem;
                font-weight: 300;
            }


            p{
                padding: 1rem 0.5rem;
                font-size: 1.4rem;
                font-weight: 250;
            }
        }
    }
    section.view4{
        width: 100%;
        display: flex;
        gap: 1.5rem;
        padding: 1rem;
        flex-direction: column;
        justify-content: space-between;
        



        .top{
            width: 100%;
            img{
                width: 100%;
                // padding: 2rem;
                border-radius: 1rem;

            }
        }
        
        
        .bottom{
            background-color: rgb(34, 34, 34);
            border-radius: 0.7rem;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            

            h1{
                font-size: 1.8rem;
                padding: 0.8rem 0.3rem;
                font-weight: 300;
            }
            p{
                font-size: 1rem;
                font-weight: 250;
            }
            .first{
                background-color:#292929;
                padding: 1.8rem;
                border-radius: 1rem;
                
            }
            .second{
                background-color:#292929;
                padding: 1.8rem;
                border-radius: 1rem;
                
            }
            .third{
                background-color:#292929;
                padding: 1.8rem;
                border-radius: 1rem;
                
            }
            .fourth{
                background-color:#292929;
                padding: 1.8rem;
                border-radius: 1rem;
                
            }
            


           
        }
    }
    section.view5{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        gap: 1.5rem;
        justify-content: space-between;

        #first{
            width: 100%;
            background-color: #292929;
            border-radius: 1rem;
            padding: 1rem;
            display: flex;
            flex-direction: column;


            img{
                border-radius: 1rem;
                width: 100%;
                height: 100%;
                box-sizing: border-box;
                padding: 1rem;
                object-fit: cover;
                
            }

            h2{
                font-weight: 300;
                font-size: 1.2rem;
                padding: 0.8rem 0.5rem;
                
            }
            p{
                font-size: 1rem;
                font-weight: 200;
                padding: 0.5rem 0.5rem;
            }
        }
        #second{
            width: 100%;
            background-color: #292929;
            border-radius: 1rem;
            display: flex;
            flex-direction: column;
            padding: 1rem;

            img{
                border-radius: 1rem;
                padding: 1rem;
                object-fit: cover;
                height: 100%;
                width: 100%;
                overflow: hidden;
            }

            h2{
                font-weight: 300;
                font-size: 1.2rem;
                padding: 0.8rem 0.5rem;
                
            }
            p{
                font-size: 1rem;
                font-weight: 200;
                padding: 0.5rem 0.5rem;
            }
        }
        #third{
            width: 100%;
            background-color: #292929;
            border-radius: 1rem;
            display: flex;
            flex-direction: column;
            padding: 1rem;

            img{
                border-radius: 1rem;
                padding: 0.8rem;
                height: 100%;
                width: 100%;
                overflow: hidden;
            }

            h2{
                font-weight: 300;
                font-size: 1.2rem;
                padding: 0.8rem 0.5rem;
                
            }
            p{
                font-size: 1rem;
                font-weight: 200;
                padding: 0.5rem 0.5rem;
            }
        }


    }

   

}
@media (min-width:1000px){
    main{

        section.view1{
            flex-direction: row;
            padding: 1rem 4rem;
            .top,.bottom{
                width: 50%;
            }
            

            .bottom{
                justify-content: space-between;
                padding: 3rem;
                .text{
                    .h2{
                        font-size: 4rem;
                    }
                    .h1{
                        font-size: 3.5rem;
                    }
                    
                    p{
                        font-size: 1rem;
                        width: 60%;
                    }

                }
            }
        }
        section.view2{
            flex-direction: row;
            padding: 1rem 4rem;
            .top,.bottom{
                width: 50%;
            }

        }
        section.view3{
            flex-direction: row-reverse;
            padding: 1rem 4rem;
            .top,.bottom{
                width: 50%;

            }
            .bottom{
                justify-content: space-between;
                padding: 3rem;
                .text{
                    .h2{
                        font-size: 4rem;
                    }
                    .h1{
                        font-size: 3.5rem;
                    }
                    
                    p{
                        font-size: 1rem;
                        width: 60%;
                    }

                }
            }
        }
        section.view4{
            flex-direction: row;
            padding: 1rem 4rem;
            .top,.bottom{
                width: 50%;
            }
            .bottom{
                justify-content: space-between;
                padding: 3rem;
                .text{
                    .h2{
                        font-size: 4rem;
                    }
                    .h1{
                        font-size: 3.5rem;
                    }
                    
                    p{
                        font-size: 1rem;
                        width: 60%;
                    }

                }
            }
        }
        section.view5{
            flex-direction: row;
            padding: 1rem 4rem;
            
            #first{
                width: 100%;
                padding: 1rem;


                h2{
                font-weight: 300;
                font-size: 1.2rem;
                padding: 0.8rem 0.5rem;
                
                }
                p{
                font-size: 1rem;
                font-weight: 200;
                padding: 0.5rem 0.5rem;
                }
                
            

            }
        }
    }
        
}
